body {
    color: #404040;
    font-family: system-ui;
    font-size: 18px;
}

.calc-container {
    align-items: center;
    background: #74ebd5;
    background: linear-gradient(to right, #acb6e5, #74ebd5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.calculator {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
}

.readout {
    border-radius: 2px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: inherit;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    width: 100%;
}

.keyboard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

.numbers {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 50px 50px 50px;
}

.zero {
    grid-column: 1 / 3;
}

.reset {
    grid-column: 1 / 3;
}

button {
    background-color: #ddd;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    height: 40px;
    outline: none;
    width: 100%;
}

button:active {
    background-color: #ccc;
}

.buttons {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 50px 50px;
}

.state {
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}