<div class="calc-container">
  <div class="calculator">
    <input class="readout" disabled value=<%= @readout %> />
    <div class="keyboard">
      <div class="numbers">
        <button phx-click="calc-input" phx-value-symbol="7">7</button>
        <button phx-click="calc-input" phx-value-symbol="8">8</button>
        <button phx-click="calc-input" phx-value-symbol="9">9</button>
        <button phx-click="calc-input" phx-value-symbol="4">4</button>
        <button phx-click="calc-input" phx-value-symbol="5">5</button>
        <button phx-click="calc-input" phx-value-symbol="6">6</button>
        <button phx-click="calc-input" phx-value-symbol="1">1</button>
        <button phx-click="calc-input" phx-value-symbol="2">2</button>
        <button phx-click="calc-input" phx-value-symbol="3">3</button>
        <button phx-click="calc-input" phx-value-symbol="0" class="zero" >0</button>
        <button phx-click="calc-input" phx-value-symbol=".">.</button>
      </div>
      <div class="buttons">
        <button phx-click="calc-input" phx-value-symbol="C" class="reset">C</button>
        <button phx-click="calc-input" phx-value-symbol="+">+</button>
        <button phx-click="calc-input" phx-value-symbol="-">-</button>
        <button phx-click="calc-input" phx-value-symbol="*">×</button>
        <button phx-click="calc-input" phx-value-symbol="/">÷</button>
        <button phx-click="calc-input" phx-value-symbol="%">%</button>
        <button phx-click="calc-input" phx-value-symbol="=">=</button>
      </div>
    </div>
  </div>
  <div class="state">
    Current State: <%= @state %>
  </div>
</div>
